* {
  margin: 0px;
  padding: 0px;
}

/* Fonts  */
@font-face {
  font-family: SpaceBold;
  src: url(/assets/font/SpaceGrotesk/static/SpaceGrotesk-Bold.ttf);
}

@font-face {
  font-family: spaceMedium;
  src: url(/assets/font/SpaceGrotesk/static/SpaceGrotesk-Medium.ttf);
}

:root {
  /* Colors  */
  --main: #151515;
  --accent: #4ee1a0;
  --dark: #242424;
  --snow: #d9d9d9;
  --white: #ffffff;
  --red : #ff6f5b;

  /* Fonts  */
  --fontHeading: spaceBold;
  --fontParagraph: spaceMedium;

  /* Customs Properties  */
  --main-width: 80%;
  --input-width: 400px;
}

body {
  background: var(--main);
  position: relative;
}

/* Typography  */
h1 {
  font-family: var(--fontHeading);
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -2.5px;
  color: var(--white);
}

h1 span {
  box-shadow: inset 0px -10px var(--accent);
}

h2 {
  font-family: var(--fontHeading);
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -1.5px;
  color: var(--white);
}

h3 {
  font-family: var(--fontHeading);
  font-size: 24px;
  line-height: 32px;
  color: var(--white);
}

p {
  font-family: var(--fontParagraph);
  font-size: 18px;
  line-height: 28px;
  color: var(--snow);
}

/* The Active  */
.input.activeN {
  box-shadow: inset 0px -2px var(--red);
}
.input.activeY {
  box-shadow: inset 0px -2px var(--accent);
}
.activeP {
    font-family: var(--fontParagraph);
    color: var(--red);
    position: relative;
    right: -15px;
}

.activeIcon {
  fill: var(--red);
  position: relative;
  top: -50px;
  
}

.ActivePla {
  opacity: 0;
}

/* The Button  */
.button {
  font-family: var(--fontParagraph);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  box-shadow: inset 0px -2px var(--accent);
  padding: 0px 0px 10px 0px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  color: var(--accent);
}

/* Input */
form {
    position: relative;
}
.input {
  background: transparent;
  margin: 10px 0px;
  width: var(--input-width);
  height: 30px;
  border: none;
  outline: none;

  box-shadow: inset 0px -2px var(--snow);
  padding: 10px;
  color: var(--white);
  font-family: var(--fontParagraph);
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.textarea {
  background: transparent;
  margin: 10px 0px;
  width: var(--input-width);
  height: 100px;
  border: none;
  outline: none;
  cursor: pointer;

  box-shadow: inset 0px -2px var(--snow);
  padding: 10px;
  color: var(--white);
  font-family: var(--fontParagraph);
  letter-spacing: 1px;
}

.input::placeholder {
  color: var(--snow);

}


.placer {
  position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 0px 150px 0px;
}
input[type="submit"] {
  font-family: var(--fontParagraph);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  box-shadow: inset 0px -2px var(--accent);
  padding: 0px 0px 10px 0px;
  transition: all 0.3s ease-in-out;
  background: transparent;
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
  color: var(--accent);
}

/* The navbar  */
.navbar-wrapper {
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.navbar {
  width: var(--main-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand h1 {
  font-size: 2rem;
  color: var(--white);
  cursor: pointer;
}

.navbar-socials {
  display: flex;
  list-style: none;
}

.navbar-socials li {
  padding-inline: 5px;
}

.navbar-socials li a {
  padding: 10px;
  transition: all 0.3s ease-in;
}

.navbar-socials li a:hover {
  padding: 10px;
  box-shadow: inset 0 -2px var(--accent);
}

.navbar-socials li a img {
  width: 24px;
  height: 24px;
}

/* The header  */
header {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.header {
  width: var(--main-width);
  height: inherit;
  padding: 0px 0px 130px 0px;
  box-shadow: inset 0px -2px var(--snow);
}

.header h1 {
  padding: 30px 0px;
}

.header p {
  margin: 20px 0px 50px 0px;
}

/* The SKills  */
.skills-wrapper {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.skills {
  width: var(--main-width);
  height: auto;
  padding: 60px 0px 120px 0px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.skill {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.skill:hover {
  opacity: 0.3;
}
.skill h2 {
  text-transform: capitalize;
}

.skill p {
  text-transform: capitalize;
  padding: 15px 0px 0px 0px;
}

/* The Projects  */

.projects-wrapper {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.projects-container {
  width: var(--main-width);
  height: 100%;
}

.projects-header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 50px 0px;
}

.projects {
  width: 100%;
  height: 100%;
  margin-bottom: 100px;

  display: grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  row-gap: 2rem;
}

.project {
  width: 100%;
  height: 475px;
}

.project-img {
  width: 100%;
  height: 375px;
  position: relative;
  overflow: hidden;
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-overlay {
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 0.8);
  position: absolute;
  top: 0%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.img-overlay:hover {
  opacity: 1;
}

.project-details {
  padding: 20px 0px;
  width: 100%;
  height: 100;
  cursor: pointer;
}

.project-details:hover {
  opacity: 0.5;
}

.project-details h3 {
  text-transform: uppercase;
  padding: 0px 0px 10px 0px;
}

.technologies {
  display: flex;
  list-style: none;
}

.technologies li {
  padding-right: 10px;
  color: var(--snow);
  font-family: var(--fontParagraph);
  text-transform: uppercase;
}

/* The Footer  */
footer {
  width: 100%;
  height: auto;
  background: var(--dark);
  display: flex;
  align-items: center;

  flex-direction: column;
  padding: 0px 0px 10px 0px;
}

.footer-content {
  width: var(--main-width);
  height: auto;
  margin: 60px 0px 0px 0px;
  box-shadow: inset 0px -2px var(--snow);

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 1rem;
}


.footer-contact {
    transition: all .3s ease-in-out;
    padding-bottom: 220px;
}
.footer-contact:hover {
    opacity: .6;
    cursor: pointer;
}

.footer-contact p {
    padding: 45px 0px 0px 0px;
    cursor: pointer;
}

/* footer Forms  */

.footer-forms {
    display: flex;
    justify-content: flex-end;
}

.footer-forms .placer {
    padding: 0px 0px 0px 0px;


}

footer .navbar-wrapper {
    margin: 0px 0px 0px 0px;
}
